{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <title>Cumplo - {% block title %}  {% endblock%}</title>
</head>

<body>

    <!-- ***** Header Area Start ***** -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
            <a class="navbar-brand" href="/">CUMPLO</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">INICIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">DOLAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">UDIS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TIIE</a>
                </li>                
              </ul>
              
                <a target="_blank" href="https://github.com/josehbez/cumplo/wiki" class="btn btn-outline-success my-2 my-sm-0 active">
                    <i class="fa fa-1x fa-file-alt"></i>
                    Docs
                </a>
                -
                <a target="_blank" href="https://github.com/josehbez/cumplo" class="btn btn-outline-info my-2 my-sm-0 active">
                    
                    Fork <i class="fa fa-1x fa-github" style="color: white;"></i> Github
                </a>
            </div>
          </nav>
    </header>    
    <!-- ***** Header Area End ***** -->

    <!-- ***** Content Start ***** -->
    <main role="main">

    </main>
    {% block content %} {% endblock %}
    <!-- ***** Content End ***** -->

    <!-- ***** Footer Start ***** -->
    
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
            <a target="_blank" href="https://github.com/josehbez/cumplo/wiki/Gu%C3%ADa-de-inicio">
              Leea nuestra Guía de Inicio
            </a>
            </p>
            <p> © José Hbez, ¡pero descárguelo y personalícelo usted mismo!</p>
        </div>
    </footer>

    
    <!-- Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/bm.js' %}"></script>

</body>
</html>